{% extends '_base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<!-- Jumbotron -->
<div class="jumbotron text-center">
  <h2>Contact Us</h2>
  <small class="text-muted">
    Want to get in touch? We'd love to hear from you. 
    Here's how you can reach us...
  </small>
</div>

<!-- Contact Cards -->
<div class="text-center text-muted">
  <div>
    <i class="fa fa-regular fa-phone fa-flip-horizontal"></i>
  </div>
  <div>
    <i class="fa fa-map-marker"></i>
  </div>
</div>
{% endblock content %}