{% extends '_base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<!-- Jumbotron -->
<div class="jumbotron text-center">
  <h2>Contact Us</h2>
  <small class="text-muted">
    Want to get in touch? We'd love to hear from you. 
    Here's how you can reach us...
  </small>
</div>

<!-- Contact Cards -->
<div class="container">
  <div class="row text-center">
    <div class="col-sm-6">
      <h2><i class="fa fa-regular fa-phone fa-flip-horizontal" style="color: #2fbc52"></i></h2>
      <h6>Phone:</h6>
      <p>1-800-000-000</p>
    </div>
    <div class="col-sm-6">
      <h2><i class="fa fa-map-marker" style="color: #2fbc52"></i></h2>
      <h6>Address:</h6>
      <p>180 Bestcars Drive</p>
    </div>
  </div>
</div>
{% endblock content %}