{% extends '_base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="text-center">
  <h1>Welcome to Best Cars Dealership!</h1>
  <h6>The trusted dealership of North America</h6>
</div>
<div class="text-center">
  {% if user.is_authenticated %}
    Hi {{ user.username }}
    <p><a href="{% url 'logout' %}">Log Out</a></p>
  {% else %}
    <p>You are not logged in</p>
    <p><a href="{% url 'login' %}">Log In</a></p>
    <p><a href="{% url 'djangoapp:registration' %}">Sign Up</a></p>
  {% endif %}
</div>
<!--Add a dealer table here -->
{% endblock content %}
